#chartdiv {
  width: 100%;
  height: 500px;
}
#container {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
}

#container2 {
  max-width: 400px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

#forward-button.button:hover {
  color: green !important;
  box-shadow: inset 0 0 0 2px green;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 380px;
  max-width: 600px;
  margin: 0 auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}


body{
    height: 90px;
    line-height: auto;
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
    text-align: center;
}
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}

#show-button { cursor: pointer; }
#hide-button { cursor: pointer; display: none; }

/*Some stylings to the buttons*/
#show-button, #hide-button  { color: #fff; border-radius: 5px; padding: 10px 50px; }
#show-button { background: #0703af; }
#hide-button { background: #af2303; }